<%= simple_form_for(@key_assignment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :key_sequence %>
    <%= f.input :action_type %>
    <%= f.input :action_object %>
    <%= f.association :key_set %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
