<p id="notice"><%= notice %></p>

<h1>Key Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Key sequence</th>
      <th>Action type</th>
      <th>Action object</th>
      <th>Key set</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @key_assignments.each do |key_assignment| %>
      <tr>
        <td><%= key_assignment.key_sequence %></td>
        <td><%= key_assignment.action_type %></td>
        <td><%= key_assignment.action_object %></td>
        <td><%= key_assignment.key_set %></td>
        <td><%= link_to 'Show', key_assignment %></td>
        <td><%= link_to 'Edit', edit_key_assignment_path(key_assignment) %></td>
        <td><%= link_to 'Destroy', key_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Key Assignment', new_key_assignment_path %>
